.calculator,h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display{
  display: flex;
}

.input,.show{
    width: 212px;
    height: 25px;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


button{
    justify-content: center;
    align-items: center;  
    width: 50px;
    height: 50px;
    border: 1px solid greenyellow;
}

#equals,.clear{
    width: 104px;
}

footer{
    background-color: gray;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size:25px;
    padding-left: 15px;
}
img{
    width: 40px;
    height: 40px;
}

.dark{
    background-color: black;
}

.dark button{
    background-color: #37474F;
    color: #cccccc;
    border-color: #cccccc;
}

.dark h1{
    color: #cccccc;
}

.dark .calculator{
    background-color: black;
    color: #cccccc;
    border: 5px solid #cccccc;
    padding-top: 30px;
}

.dark,.show,.input{
    background-color: #37474F;
    color: #cccccc;
}

.dark .lightdark{
    color: #cccccc
}

.lightdark{
    display: flex;
    flex-direction: row;
    font-size: 35px;
    gap: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 40px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ccccff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


